apt-xapian-index==0.47
argcomplete==0.8.1
awscli==1.11.13
beautifulsoup4==4.4.1
botocore==1.4.70
certifi==2017.11.5
chardet==2.3.0
colorama==0.3.7
command-not-found==0.3
cycler==0.9.0
decorator==4.1.2
devscripts===2.16.2ubuntu3
Django==1.11.3
docutils==0.12
future==0.16.0
html5lib==0.999
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
jmespath==0.9.0
language-selector==0.1
lxml==4.6.5
Magic-file-extensions==0.2
matplotlib==1.5.1
numpy==1.11.0
pexpect==4.0.1
pickleshare==0.7.4
Pillow==3.1.2
progressbar==2.3
prompt-toolkit==1.0.15
ptyprocess==0.5
pyasn1==0.1.9
pycups==1.9.73
pycurl==7.43.0
pygal==2.3.1
pygal-maps-world==1.0.2
pygame==1.9.3
Pygments==2.1
pygobject==3.20.0
pyparsing==2.0.3
python-apt==1.1.0b1
python-dateutil==2.4.2
python-debian==0.1.27
python-gnupg==0.3.8
python-telegram-bot==8.1.1
pytz==2014.10
pyxdg==0.25
PyYAML==3.12
reportlab==3.3.0
requests==2.9.1
roman==2.0.0
rsa==3.2.3
s3transfer==0.1.9
screen-resolution-extra==0.0.0
simplegeneric==0.8.1
six==1.10.0
ssh-import-id==5.5
traitlets==4.3.2
ubuntu-drivers-common==0.0.0
Ubuntu-Make==16.2.1
ufw==0.35
urllib3==1.13.1
wcwidth==0.1.7
xkit==0.0.0
